.helpScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  padding-top: 0px;

  p {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #fff;
    text-align: center;
  }

  img {
    border: 2px solid #595959;
  }
}

.v3.bg {
  background-image: linear-gradient(0deg, #239BD7cc, #239BD7cc), url("/assets/v3/bg.png");
  background-position: center;

  p {
    font-family: 'Century Gothic';
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #242E6D !important;
  }
}

.helpScreenBlue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  padding-top: 0px;
  background-color: #fff;

  p {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #000;
    text-align: center;
  }

  img {
    background-color: #EBF6FF;
    padding: 15px;
    border-radius: 15px;
  }
}

.button {
  color: #fff;
  padding: 14px 0px;
  width: 100%;
  border-width: 0px;
  margin-top: 18px;
  font-size: 20px;
  background: linear-gradient(168.55deg, #3F3F3F 0%, #000000 100%);
  border: 2px solid #FFC700;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;

  &:active {
    background: #3D3D3D;
    border: 2px solid #FFC700;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }
}

.blueButton {
  margin: 20px 0px 50px 0px;
  width: 50%;
  padding: 14px 13px;
  background: #00427E;
  border-radius: 300px;
  border: none;
  color: #fff;
  font-size: 1.3em;
  transition: background-color 150ms ease-out;

  &:active {
    background: #2b70b1;
  }
}

.v4 {
  background-image: linear-gradient(0deg, #0EB6EBed, #0EB6EBed), url("/assets/v4/bg2.png");
  padding: 10;
  align-items: start;

  p {
    margin: 5px 0px;
    padding: 0;
    color: #EBF6FF;
    text-align: left;
    font-family: "Century Gothic";
    font-size: 1em;
    font-style: normal;
    line-height: normal;
  }

  img {
    box-sizing: border-box;
    align-self: center;
    border-radius: 0px;
  }

  
  .button {
    background: #FFFFFF;
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 9px 0px;
    box-shadow: none;

    color: #0EB6EBed;
    text-align: center;
    font-family: "Century Gothic";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:active {
        background: #FFF;
        box-shadow: 0px 0px 10px 0px rgba(36, 46, 109, 0.70) inset;
    }
}
}