@mixin ignorePointer {
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

@mixin selectPointer {
    cursor: pointer;
}


.matchContainer {
    width: 100%;
}



.matchContainer.blue {
    width: 100%;
    padding : 18px 18px 9px 18px;
    box-sizing: border-box;
}


.match {
    transition: top 250ms ease-out;
    top: 0%;
    position: relative;
    opacity: 0;

    padding: 20px 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(168.55deg, rgba(63, 63, 63, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 15px 15px 0px 0px;
}


.match.blue {
    background: #EBF6FF;
    border-radius: 15px;
}

.countryImageContainer {
    aspect-ratio: 1;
}

.countryImage {
    background-color: #fff;
    border: 2px solid #FFC700;
    object-fit: cover;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
    border-radius: 50%;
    box-sizing: border-box;
}

.countryImage.blue {
    border: none;
    filter: none;
}


.winImage {
    position: absolute;
    top: -20px;
    width: 50%;

    border: 2px solid #FFC700;
    filter: drop-shadow(0px 0px 15px #FFC700);
    border-radius: 50%;
}

.blue .winImage {
    position: absolute;
    top: -35%;
    left: 30%;
    width: 40%;

    border: none;
    filter: none;
    border: none;
    border-radius: 0;
}

.winImage.left {
    left: -20px;
}


.winImage.right {
    right: -20px;
}


.countryText {
    margin-top: -25px;
    z-index: 0;
    width: 90%;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 7px;

    background: linear-gradient(168.55deg, #3F3F3F 0%, #000000 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.blueCountryText {
    margin-top: -25px;
    z-index: 0;
    width: 90%;
    box-sizing: border-box;
    
    padding: 7px 0px;


    border-radius: 50px;


    background: #00427E;
    border: 2px solid #FFFFFF;


    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}

.countries {
    width: 100%;
    margin-top: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.force {
    font-family: 'FuturicaBS';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #FFC700;
}

.force.blue {
    font-family: 'Century Gothic';
    font-weight: bold;
    color: #00427E;
}

.divider {

    background-color: #595959;
    width: 2px;
    align-self: stretch;
}

.divider.blue {
    align-self: stretch;
}

.gameText {
    font-family: 'Futura Book';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.gameText.blue {
    color: #00427E;
}

.betText {
    font-family: 'Futura Book';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 7px;
}

.betText.blue {
    color: #00427E;
}

.country {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


 


.betButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;

    background: linear-gradient(168.55deg, #3F3F3F 0%, #000000 100%);
    border: 2px solid #FFC700;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}



.blueBetButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 23px;

    background: #fff;
    border: none;

    padding: 10px 15px 10px 5px;

    box-sizing: border-box;
    box-shadow: none;
    border-radius: 50px;
}

.blueBetButton.active {
    background: #fff;
    border-radius: 50px;
}

.betButton.active {
    background: #3D3D3D;
    border: 2px solid #FFC700;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}


.input {
    width: 100%;
    margin-top: 16px;
    padding: 15px;
    box-sizing: border-box;
    background: #3D3D3D;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    border-width: 0px;
    color: #fff;
}


.input:focus {
    outline: none;
}

.betButton .outCircle {
    aspect-ratio: 1;
    box-sizing: border-box;
    border: 1px solid #595959;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    padding: 4px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.betButton .innerCircle {
    background-color: #FFC700;
    box-sizing: border-box;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: height 150ms ease-out, width 150ms ease-out;
}

.betButton .innerCircle.none {
    width: 0%;
    height: 0%;
}


.blueBetButton .outCircle, .bottoms .outCircle{
    aspect-ratio: 1;
    box-sizing: border-box;
    border: 2px solid #EBF6FF;
    padding: 5px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}



.blueBetButton .innerCircle, .bottoms .innerCircle {
    background-color: #00427E;
    box-sizing: border-box;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: height 150ms ease-out, width 150ms ease-out;
}

.blueBetButton .innerCircle.none {
    width: 0%;
    height: 0%;
}


.betButton .buttonText {
    font-family: 'Futura Book';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 15px;
}

.blueBetButton p {
    font-family: 'Futura Book';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    color: #00427E;
    line-height: 15px;
}

.goalText {
    margin: 8px;
    color: #FFC700;
    font-size: 24px;
    font-family: FuturicaBS;
}

.blue .goalText {
    color: #00427E;
}

.moneyText {
    min-width: 30%;
    text-align: center;
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(168.55deg, #3F3F3F 0%, #000000 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.blue .moneyText {
    box-shadow: none;
    border: 2px solid #FFFFFF;
    background: none;
    border-radius: 100px;
}


.moneyText.win {
    color: #5DD200;
}

.moneyText.lose {
    color: #FF0000;
}


.blue .moneyText.win {
    color: #fff;
    font-family: 'FuturicaBs';
    font-weight: bold;
    background-color: #5DD200;
}

.blue .moneyText.lose  {
    color: #fff;
    font-family: 'FuturicaBs';
    font-weight: bold;
    background-color: #FF0000;
}


.moneyText.draw {
    color: #FFF;
}

.button {
    background: #FFFFFF;
    border-radius: 300px;
    padding: 14px 0px;
    width: 100%;
    border-width: 0px;
    margin-top: 18px;
    color: #00427E;
    font-size: 20px;
}

.button:active {
    background: #EBF6FF;
    box-shadow: inset 0px 0px 10px rgba(5, 33, 89, 0.6);
    border-radius: 300px;
}

.blueInput {
    width: 100%;
    margin-top: 16px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 50px;
    border-width: 0px;
    color: #00427E80;

    background: #FFFFFF;
    border-radius: 300px;
}


.blueInput:focus {
    outline: none;
}

.matchResult {
    padding-bottom: 0px;
}

.matchResult .moneyText{
    margin-bottom: -35px;
}


.bottoms {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}



.v3 .innerCircle {
    background: #EC1D26 !important;
}


.v3 .divider {
    background-color: #00427E;
    width: 2px;
    box-sizing: border-box;
    margin: 5% 0px 17% 0px;
}


.v3 .winImage {
    top: -20% !important;
}



.v3 .betText {
    margin: 0px;
    margin-top: 7px;
    font-family: 'Century Gothic';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;

    color: #242E6D;
}

.v3 .gameText {
    margin: 0px;
    font-family: 'Century Gothic';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    color: #242E6D;
}

.v3Countries, .v3Buttons {
    display: flex;
    flex-direction: row;
}

.v3Divider {
    flex: 1;
}


.v3Divider > div {
    background-color: #00427E;
    width: 1px;
    height: 100%;
    margin: auto;
}

.v3Image {
    aspect-ratio: 1;
}

.v3Image > img {
    border-radius: 50%;
    object-fit: cover;
}

.v3Countries {
    margin-top: 24px;
}


.v3Country {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.force {
    font-family: 'Century Gothic';
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #242E6D;
}

.v3CountryText {
    margin-top: -25px;
    z-index: 0;
    width: 90%;
    box-sizing: border-box;

    padding: 2px 0px;
    border-radius: 50px;


    background: #00427E;
    border: 2px solid #FFFFFF;

    font-style: italic;
    font-weight: 300;
    font-size: 13px;
    /* identical to box height */
    text-align: center;
    font-family: 'Century Gothic';

    color: #FFFFFF;
}

.v3Input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 23px;

    background: #fff;
    border: none;

    padding: 10px 15px;

    box-sizing: border-box;
    box-shadow: none;
    border-radius: 50px;
}

.v3 .match {
    transition: top 250ms ease-out;
    top: 0%;
    position: relative;
    opacity: 0;

    padding: 10px 20px 20px 20px;
}

.v3OutCircle {
    margin: 0px 5px;
    box-sizing: border-box;
    border: 2px solid #EBF6FF;
    padding: 4px;
    border-radius: 50%;


    width: 30px;
    width: 30px;

    display: flex;
    justify-self: center;
    align-items: center;
}


.v3InnerCircle {
    height: auto;
    width: 100%;
    height: 100%;

    background-color: #EC1D26;
    box-sizing: border-box;
    border-radius: 50%;
    transition: height 150ms ease-out, width 150ms ease-out;
}

.v3InnerCircle.none{
    width: 0;
    height: 0;
    background-color: #fff;
}


.v3Buttons {
    width: 100%;
    justify-content: space-between;
}

.v3GoalText {

    font-family: 'Century Gothic';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    text-align: center;

    color: #242E6D;
}

.v3betButtonText {
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.v4 {
    &.matchContainer{
        width: 100%;
        padding : 18px 18px 9px 18px;
        box-sizing: border-box;
    }

    .match {
        background: rgba(255, 255, 255, 0.70);
        border-radius: 0px;
        padding: 8px 23px 0px 23px;
    }
    
    .gameText {
        @include ignorePointer;
        color: #1226A8;
        text-align: center;
        font-family: "Century Gothic";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .countryText{
        @include ignorePointer;
        margin: 0;
        margin-bottom: 13px;

        color: #FFF;
        text-align: center;
        font-family: "Century Gothic";
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        border: 1.5px solid #FFF;
        border-radius: 0;
        background: #1226A8;

        box-shadow: none;
    }

    .goalText {
        color: #1226A8;
        text-align: center;
        font-family: "Century Gothic";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .betText {
        @include ignorePointer;
        color: #1226A8;
        text-align: center;
        font-family: "Century Gothic";
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .countryImage {
        aspect-ratio: 80/60;
        border-radius: 0;
        border: none;
        box-shadow: none;
        filter: none;
    }

    .countryText, .countryImage {
        width: 70%;
    }

    .textImageContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .winImage {
        width: 45px;
        left: calc(50% - 45px/2);
        top: -30px;

        border-radius: 0;
        border: none;
        filter: none;
    }

    .divider {
        flex: 1;
        background-color: transparent;
        div {
            background-color: #00427E88;
            width: 1px;
            height: 100%;
            margin: auto;
        }
    }

    .moneyText {
        color: #FFF;
        text-align: center;
        font-family: "Century Gothic";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
        margin: 0;
        border-radius: 0;
        padding: 4px 9px;
        height: 33px;
        background: #838383;
        box-shadow: none;

        display: flex;
        justify-content: center;
        align-items: center;

        &.win {
            background: #090;
        }

        &.lose {
            background: #AB0007;
        }
    }
    
    .input {
        background: #FFF;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 23px;

        color: rgba(18, 38, 168, 0.50);
        font-family: "Century Gothic";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .force {
        @include ignorePointer;
        color: #1226A8;
        text-align: center;
        font-family: "Century Gothic";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .betButton {
        width: 40%;
        border: none;
        border-radius: 0;
        background: #FFF;
        box-shadow: none;
        padding: 11px 5px;
        @include selectPointer;

        .outCircle {

            box-shadow: none;
            filter: none;
            border: solid 2px #EBF6FF;

            .innerCircle {
                background: #AB0007;
                filter: none;
                box-shadow: none;
            }
        }


        .buttonText {
            color: #1226A8;
            font-family: "Century Gothic";
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

}


.v5 {
    .resultCountry {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
    }

    .resultCountryRight {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        
        .countryText {
            text-align: left;
        }
    }

    .countryImage {
        width: 42px;
        height: 42px;
    }

    .imageContainer {
        position: relative;
        margin: 13px 0;
    }

    &.matchContainer{
        width: 100%;
        padding : 8px 0px 0px 0px;
        box-sizing: border-box;
    }

    .match {
        background: #33478B;
        border-radius: 0px;
        padding: 18px 23px 0px 23px;
    }
    
    .gameText {
        @include ignorePointer;
        color: #FFF;
        text-align: center;
        font-family: "DIN Pro";
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
    }

    .countryText{
        @include ignorePointer;
        margin: 0px;

        color: #FFF;
        text-align: right;
        font-family: "DIN Pro";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 5px;
        text-transform: uppercase;
        margin-right: 10px;


        border: none;
        border-radius: 0;
        background: transparent;
        box-shadow: none;

    }

    .countryContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .goalText {
        color: #FFF;
        text-align: center;
        font-family: "DIN Pro";
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
    }

    .betText {
        @include ignorePointer;
        color: #1226A8;
        text-align: center;
        font-family: "Century Gothic";
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .countryImage {
        aspect-ratio: 1;
        background-color: transparent;
        border-radius: 0;
        border: none;
        box-shadow: none;
        filter: none;
    }


    .textImageContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .winImage {
        width: 20px;
        left: -5px;
        top: -5px;

        border-radius: 0;
        border: none;
        filter: none;
    }

    .divider {
        background-color: transparent;
        div {
            background-color: #00427E88;
            width: 1px;
            height: 100%;
            margin: auto;
        }
    }

    .moneyText {
        color: #FFF;
        text-align: center;
        font-family: "DIN Pro";
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
                
        margin: 0;
        border-radius: 0;
        padding: 4px 4px;
        background: #838383;
        box-shadow: none;

        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        position: relative;
        margin-top: 5px;
        right: -23px;


        &.win {
            background: #090;
        }

        &.lose {
            background: #AB0007;
        }
    }
    
    .input {
        background: #FFF;
        box-shadow: none;
        border-radius: 0;
        margin: 0px;
        padding: 7px 7px 7px 0px;

        color: #A2B6F7;
        font-family: "DIN Pro";
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .inputContainer {
        margin-bottom: 23px;
        width: 100%;
        margin: 0;
        margin-top: 25px;
        padding: 0;
        background-color: #fff;
        display: flex;
    }

    .inputContainer::before {
        content: url("/assets/v5/coin.png");
        padding: 7px;
        display: flex;
        align-items: center;
    }

    .countries {
        margin: 0;
        justify-content: center
    }

    .force {
        @include ignorePointer;
        display: flex;
        
        color: #FFF;
        font-family: "DIN Pro";
        font-size: 9px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        margin: 8px 0px;
    }

    .buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-top: 26px;
    }

    .country {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 13px 0px 16px 0px;
    }

    .horizontalDivider {
        background: rgba(235, 246, 255, 0.35);
        height: 1px;
        width: 100%;
    }

    .divider div {
        padding: 0px;
        height: 100%;
        background: rgba(235, 246, 255, 0.35);
        width: 1px;
    }

    .betButton {
        margin: 0;
        width: 40%;
        border: none;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        padding: 0px 5px;
        align-items: center;
        @include selectPointer;

        .outCircle {
            width: 18px;
            height: 18px;
            box-shadow: none;
            filter: none;
            border: solid 1px #EBF6FF;
            padding: 2px;

            .innerCircle {
                background: #FFE600;
                filter: none;
                box-shadow: none;
            }
        }


        .buttonText {
            color: #FFF;
            font-family: "DIN Pro";
            font-size: 9px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            display: flex;
        }
    }

}