.pointsV6 {
    display: flex;
    align-items: center;
    gap: 3px;
    span {
        color: #FFF;
        font-family: "Bebas Neue";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
}