.bg {
    background-image: url("/assets/default_design/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.blue {
        background-image: linear-gradient(0deg, #00427Ef0, #00427Ef0),
            url("/assets/blue_design/bg.png");
    }
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 22px;
    box-sizing: border-box;

    &.blue {
        padding: 0px 57px;
    }
}

.button {
    color: #fff;
    padding: 14px 0px;
    width: 100%;
    border-width: 0px;
    margin-top: 22px;
    font-size: 20px;
    background: linear-gradient(168.55deg, #3F3F3F 0%, #000000 100%);
    border: 2px solid #FFC700;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;

    &:active {
        background: #3D3D3D;
        border: 2px solid #FFC700;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 15px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
    }
}

.blueButton {
    background: #FFFFFF;
    border-radius: 300px;
    padding: 14px 0px;
    width: 100%;
    border-width: 0px;
    margin-top: 18px;
    color: #00427E;
    font-size: 20px;

    &:active {
        background: #EBF6FF;
        box-shadow: inset 0px 0px 10px rgba(5, 33, 89, 0.6);
    }
}

.v3 {
    justify-content: flex-end !important;

    &.bg {
        background-image: linear-gradient(0deg, #239BD7cc, #239BD7cc), url("/assets/v3/bg.png");
        background-position: center;
    }

    & .center {
        margin-bottom: 90%;
    }

    & .button {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background: #FFFFFF;
        border-radius: 300px;
        font-family: 'Century Gothic';
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        color: #242E6D;
        padding: 14px 0px;
        width: 100%;
        border-width: 0px;
        margin-top: 18px;

        &:active {
            background: #FFFFFF;
            box-shadow: inset 0px 0px 10px rgba(36, 46, 109, 0.7);
            border-radius: 300px;
        }
    }
}