html,
body,
#root {
  height: 100%;
  width: 100%;
  ;
}

html {
  scrollbar-width: none;
}

* {
  font-family: 'Futura Book';
}

.display-none {
  display: none;
}

.load-screen {
  background-image: url('/public/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #444;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.load-result-screen {
  background-image: url('/public/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #444;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-screen {
  background-image: url('/public/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #444;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.period-screen {
  background: linear-gradient(#3F3F3F, #000000);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}


.final-screen {
  background: url('/public/final_background.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.load-screen p, .load-result-screen .p {

  font-family: 'Futura Book';
  font-size: 24px;
  font-weight: 500;
  text-align: center;

  color: #FFFFFF;

}

.load-screen .main-text, .load-result-screen .main-text {
  font-family: 'FuturicaBs';
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFC700;
}

.load-screen .center,
.load-result-screen .center,
.final-screen .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}


.menu-screen .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50%;
}


.progress-bar {
  height: 5px;
  margin: 24px;
  width: 100%;
  box-sizing: border-box;
  background: #595959;
  border-radius: 50px;
}


.progress-bar .full {
  height: 5px;
  background: #FFC700;
  border-radius: 50px;
  transition: width 250ms ease-out;
}

.default-button {
  color: #fff;
  font-family: 'Futura Book';
  font-size: 18px;

  margin-top: 11px;
  margin-bottom: 11px;
  width: 234px;
  height: 51px;
  background: linear-gradient(168.55deg, #3F3F3F 0%, #000000 100%);
  border: 2px solid #FFC700;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.default-button:active {
  color: #fff;
  font-family: 'Futura Book';
  font-size: 18px;

  margin-top: 11px;
  margin-bottom: 11px;
  width: 234px;
  height: 51px;
  background: #3D3D3D;
  border: 2px solid #FFC700;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.period-screen .period {
  font-family: 'FuturicaBs';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFC700;
}

.period-screen .points {
  font-family: 'Futura Book';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.period-screen .period-border {
  transition: height 300ms ease-out;
  ;
  height: 150px;
  margin-top: -60px;
  padding-bottom: 17px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #3D3D3D;
  border: 2px solid #FFC700;
  border-top: 0px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.match {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  padding-left: 41px;
  padding-right: 41px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(168.55deg, rgba(63, 63, 63, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 15px 15px 0px 0px;
}

.match .country-image {
  background-color: #fff;
  border: 2px solid #FFC700;
  object-fit: cover;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
  border-radius: 50%;
}

.match .win-image {
  position: absolute;
  top: -20px;
  width: 50%;

  border: 2px solid #FFC700;
  filter: drop-shadow(0px 0px 15px #FFC700);
  border-radius: 50%;
}

.match .win-image.left {
  left: -20px;
}


.match .win-image.right {
  right: -20px;
}


.match .country-text {
  margin-top: -25px;
  z-index: 0;
  width: 90%;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 7px;

  background: linear-gradient(168.55deg, #3F3F3F 0%, #000000 100%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.match .countries {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.match .force {
  margin-top: 8px;
  font-family: 'FuturicaBS';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #FFC700;
}

.match .divider {
  background-color: #595959;
  width: 1px;
  height: 70%;
}

.match .game-text {
  font-family: 'Futura Book';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}


.match .bet-text {
  font-family: 'Futura Book';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 7px;
}

/* Escolha um vencedor e faça uma aposta */

.match .country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.match .bet-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;

  background: linear-gradient(168.55deg, #3F3F3F 0%, #000000 100%);
  border: 2px solid #FFC700;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.match .bet-button-active {
  background: #3D3D3D;
  border: 2px solid #FFC700;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}


.match .bet-input {
  width: 100%;
  margin-top: 16px;
  padding: 15px;
  box-sizing: border-box;
  background: #3D3D3D;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border-width: 0px;
  color: #fff;
}

.match .bet-input:focus {
  outline: none;
}


.match .bet-button .out-circle {
  aspect-ratio: 1;
  box-sizing: border-box;
  border: 1px solid #595959;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  padding: 4px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.match .bet-button .inner-circle {
  background-color: #FFC700;
  box-sizing: border-box;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: height 150ms ease-out, width 150ms ease-out;
}

.match .bet-button .inner-circle.none {
  width: 0%;
  height: 0%;
}


.match .bet-button p {
  font-family: 'Futura Book';
  font-style: normal;
  font-weight: 200;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 15px;
}

.match .goal-text {
  margin: 8px;
  color: #FFC700;
  font-size: 24px;
  font-family: FuturicaBS;
}

.match .money-text {
  min-width: 30%;
  text-align: center;
  margin-top: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(168.55deg, #3F3F3F 0%, #000000 100%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;

}

.match .money-text.win {
  color: #5DD200;
}

.match .money-text.lose {
  color: #FF0000;
}

.match .money-text.draw {
  color: #FFF;
}

.final-screen .final-text {
  font-family: 'FuturicaBs';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;

  color: #FFC700;
}


.final-screen .result {
  margin-top: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(168.55deg, #3F3F3F 0%, #000000 100%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;

  color: #FFFFFF;
}

.final-screen .result>.text {

  font-family: 'Futura Book';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;

  color: #FFFFFF;


}

.final-screen .result>.number {
  margin-top: 5px;
  font-family: 'FuturicaBs';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;

  color: #fff;
}


.final-screen .result>.number.win {
  color: #5DD200;
}

.final-screen .result>.number.lose {
  color: #F00;
}


.help-screen p {

}

.help-screen p{
  margin-top: 10px;
  margin-bottom: 5px;
  color: #fff;
  text-align: center;
}

.help-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  padding-top: 0px;
}

.help-screen img{
  border: 2px solid #595959;
}